#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <1>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp TAB                &kp Q                &kp W         &kp E  &kp R           &kp T             &kp Y      &kp U        &kp I      &kp O       &kp P        &kp MINUS
&lt 4 INTERNATIONAL_5  &kp A                &kp S         &kp D  &kp F           &kp G             &kp H      &kp J        &kp K      &kp L       &kp SEMI     &lt 4 INT4
&kp LSHFT              &kp Z                &kp X         &kp C  &kp V           &kp B             &kp N      &kp M        &kp COMMA  &kp PERIOD  &kp SLASH    &kp INT_YEN
                       &mt LEFT_ALT ESCAPE  &kp LEFT_WIN  &mo 3  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &lt 2 TAB  &lt 3 SPACE                         &lt 1 ENTER
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans              &trans         &mo 5      &mkp RCLK  &kp LC(LG(LEFT_ARROW))  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans              &mkp LCLK      &mkp MCLK  &trans     &kp LC(LG(RIGHT))       &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans              &trans         &trans     &trans     &trans                  &trans
        &trans  &trans  &trans  &trans  &trans  &kp LA(LEFT_ARROW)  &kp LA(RIGHT)                        &trans
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans      &kp PRINTSCREEN  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans        &trans        &trans        &trans      &kp PAUSE_BREAK  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans  &trans        &trans        &trans        &bt BT_CLR  &trans           &kp F1  &kp F2  &kp F3  &kp F12  &trans
        &trans  &trans        &trans        &trans        &trans      &trans           &trans                  &trans
            >;
        };

        NUM {
            bindings = <
&trans  &kp PG_UP      &kp HOME  &kp UP_ARROW  &kp END    &trans  &trans         &kp N7        &kp N8        &kp N9        &kp N0               &trans
&trans  &kp PAGE_DOWN  &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &kp BACKSPACE  &kp N4        &kp N5        &kp N6        &kp SINGLE_QUOTE     &trans
&trans  &trans         &trans    &trans        &trans     &trans  &kp DEL        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp INTERNATIONAL_1  &trans
        &trans         &trans    &trans        &trans     &trans  &trans         &trans                                    &kp LCTRL
            >;
        };

        SYMBOL {
            bindings = <
&trans  &kp LS(N1)               &kp LS(EQUAL)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &trans  &trans         &kp LS(N7)            &kp LS(N8)             &kp LS(N9)    &kp LEFT_BRACKET         &trans
&trans  &kp LS(NUMBER_6)         &kp LS(SQT)    &kp LS(N5)        &kp EQUAL         &trans  &kp BACKSPACE  &kp LS(NUMBER_2)      &kp LS(RIGHT_BRACKET)  &kp LS(NUHS)  &kp SQT                  &trans
&trans  &kp LS(INTERNATIONAL_3)  &kp EQUAL      &trans            &trans            &trans  &kp DELETE     &kp LS(LEFT_BRACKET)  &kp RIGHT_BRACKET      &kp NUHS      &kp LS(INTERNATIONAL_1)  &trans
        &trans                   &trans         &trans            &trans            &trans  &trans         &trans                                                     &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
            >;
        };
    };
};
